<div class="container">
    <div class="row">
        <form [formGroup]="personForm" class="col-sm-12" (ngSubmit)="onSubmit()">
            <div class="col-sm-12 text-center">
                <input type="hidden" formControlName="_id" class="form-control" />
                <h4>{{title}}</h4>
            </div>
            <div class="col-sm-12">
                <div class="col-sm-12">
                    <span>Tipo de Documento<span class="text-danger">*</span></span>
                    <select formControlName="tipoDocumento" class="form-control">
                        <option [ngValue]="{}">--seleccione--</option>
                        <option *ngFor="let documentTypeItem of documentTypes" [ngValue]="documentTypeItem">
                            {{documentTypeItem.descripcion}}</option>
                    </select>
                </div>
                <div class="text-left text-danger">
                    <span class="col-sm-12"
                        *ngIf="!controls['tipoDocumento'].value?.descripcion && this.submited">Por favor seleccione
                        una opción</span>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="col-sm-12">
                    <span>Número Documento<span class="text-danger">*</span></span>
                    <input type="text" formControlName="numeroDocumento" class="form-control">
                </div>
                <div class="text-left text-danger">
                    <span class="col-sm-12"
                        *ngIf="controls['numeroDocumento'].errors?.maxlength && this.submited">El campo
                        excede el límite de caracteres</span>
                    <span class="col-sm-12"
                        *ngIf="controls['numeroDocumento'].errors?.required && this.submited">Por favor
                        diligencie el campo</span>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="col-sm-12">
                    <span>Primer Nombre <span class="text-danger">*</span></span>
                    <input type="text" formControlName="primerNombre" class="form-control" />
                </div>
                <div class="text-left text-danger">
                    <span class="col-sm-12" *ngIf="controls['primerNombre'].errors?.maxlength && this.submited">El campo
                        excede el límite de caracteres</span>
                    <span class="col-sm-12" *ngIf="controls['primerNombre'].errors?.required && this.submited">Por favor
                        diligencie el campo</span>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="col-sm-12">
                    <span>Segundo Nombre</span>
                    <input type="text" formControlName="segundoNombre" class="form-control">
                </div>
                <div class="text-left text-danger">
                    <span class="col-sm-12" *ngIf="controls['segundoNombre'].errors?.maxlength && this.submited">El
                        campo excede el límite de caracteres</span>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="col-sm-12">
                    <span>Primer Apellido <span class="text-danger">*</span></span>
                    <input type="text" formControlName="primerApellido" class="form-control">
                </div>
                <div class="text-left text-danger">
                    <span class="col-sm-12" *ngIf="controls['primerApellido'].errors?.maxlength && this.submited">El
                        campo excede el límite de caracteres</span>
                    <span class="col-sm-12" *ngIf="controls['primerApellido'].errors?.required && this.submited">Por
                        favor diligencie el campo</span>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="col-sm-12">
                    <span>Segundo Apellido</span>
                    <input type="text" formControlName="segundoApellido" class="form-control">
                </div>
                <div class="text-left text-danger">
                    <span class="col-sm-12" *ngIf="controls['segundoApellido'].errors?.maxlength && this.submited">El
                        campo excede el límite de caracteres</span>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="col-sm-12">
                    <span>Fecha Nacimiento <span class="text-danger">*</span></span>
                    <input type="text" formControlName="fechaNacimiento" class="form-control">
                </div>
                <div class="text-left text-danger">
                    <span class="col-sm-12" *ngIf="controls['fechaNacimiento'].errors?.maxlength && this.submited">El
                        campo excede el límite de caracteres</span>
                    <span class="col-sm-12" *ngIf="controls['fechaNacimiento'].errors?.required && this.submited">Por
                        favor diligencie el campo</span>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="col-sm-12">
                    <span>Estado Civil <span class="text-danger">*</span></span>
                    <div class="col-sm-4">
                        <input type="radio" class="form-control" formControlName="estadoCivil" value="Soltero">
                        <span>Soltero</span>
                    </div>
                    <div class="col-sm-4">
                        <input type="radio" class="form-control" formControlName="estadoCivil" value="Casado">
                        <span>Casado</span>
                    </div>
                </div>
                <div class="text-left text-danger">
                    <span class="col-sm-12" *ngIf="controls['estadoCivil'].errors?.required && this.submited">Por favor
                        seleccione una opción</span>
                </div>
            </div>
            <!-- Sexo -->
            <div class="col-sm-12 pl-0">
                <div class="col-sm-12">
                    <div class="col-sm-12">
                        <span>Sexo <span class="text-danger">*</span></span>
                        <select class="form-control" formControlName="sexo" (change)="onChangeSex()">
                            <option [ngValue]="{ }" [value]="{ }">--seleccione--</option>
                            <option *ngFor="let sexItem of sexList" [ngValue]="sexItem" >{{sexItem.descripcion}}</option>
                        </select>
                    </div>
                    <div class="text-left text-danger">
                        <span class="col-sm-12" *ngIf="!controls['sexo'].value?._id && this.submited">Por favor
                            seleccione una opción</span>
                    </div>
                </div>
                <div class="col-sm-12" *ngIf="controls['sexo'].value?.id === otherSexId">
                    <div class="col-sm-12">
                        <span>Otro<span class="text-danger">*</span></span>
                        <input type="text" formControlName="otroSexo" class="form-control" />
                    </div>
                    <div class="text-left text-danger">
                        <span class="col-sm-12" *ngIf="controls['otroSexo'].errors?.required && this.submited">Por favor
                            digite la descripción</span>
                    </div>
                </div>
            </div>
            <!-- Identidad -->
            <div class="col-sm-12 pl-0" formGroupName="identidad">
                <div class="col-sm-12">
                    <div class="col-sm-12">
                        <span>Fecha Expedición<span class="text-danger">*</span></span>
                        <input type="text" formControlName="fechaExpedicion" class="form-control">
                    </div>
                    <div class="text-left text-danger">
                        <span class="col-sm-12"
                            *ngIf="controlsIdentidad['fechaExpedicion'].errors?.maxlength && this.submited">El campo
                            excede el límite de caracteres</span>
                        <span class="col-sm-12"
                            *ngIf="controlsIdentidad['fechaExpedicion'].errors?.required && this.submited">Por favor
                            diligencie el campo</span>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="col-sm-12">
                        <span>Lugar Expedición<span class="text-danger">*</span></span>
                        <input type="text" formControlName="lugarExpedicion" class="form-control">
                    </div>
                    <div class="text-left text-danger">
                        <span class="col-sm-12"
                            *ngIf="controlsIdentidad['lugarExpedicion'].errors?.maxlength && this.submited">El campo
                            excede el límite de caracteres</span>
                        <span class="col-sm-12"
                            *ngIf="controlsIdentidad['lugarExpedicion'].errors?.required && this.submited">Por favor
                            diligencie el campo</span>
                    </div>
                </div>
            </div>
            <!-- Correo electrónico -->
            <div class="col-sm-12">
                <div class="col-sm-12" *ngFor="let correoElectronico of correosElectronicos; let indexCorreo = index">
                    <div class="col-sm-12 pl-0">
                        <span>Correo #{{(indexCorreo + 1)}}</span>
                        <input type="text" [value]="correoElectronico" [(ngModel)]="correoElectronico.email"
                            [ngModelOptions]="{standalone: true}" class="form-control" />
                    </div>
                    <div class="col-sm-12 text-danger">
                        <span *ngIf="!correoElectronico.valid">Correo inválido</span>
                    </div>
                </div>
                <div class="col-sm-12 text-danger" *ngIf="!existsEmail">
                    <span>Por favor agregar mínimo un correo electrónico</span>
                </div>
            </div>
            <!-- Eps -->
            <div class="col-sm-12 mt-2">
                <div class="col-sm-12 text-right mb-2">
                    <button class="fa fa-plus-circle fa-2x btn btn-primary" (click)="onAddingEps()"
                        title="Agregar Eps" type="button"></button>
                </div>
                <div class="col-sm-12">
                    <table class="table table-sm ">
                        <tr>
                            <th>Entidad</th>
                            <th>Fecha Ingreso</th>
                            <th>Estado Afiliación</th>
                            <th></th>
                        </tr>
                        <tr *ngFor="let epsItem of eps">
                            <td>{{epsItem.entidad}}</td>
                            <td>{{utilities.GetDateStringYYYMMDD(epsItem.fechaIngreso)}}</td>
                            <td>{{ (epsItem.estadoAfiliacion) ? 'Activo' : 'Inactivo' }}</td>
                            <td>
                                <i class="fa fa-star btn" [ngClass]="{ 'text-warning': epsItem.estadoAfiliacion, 'text-black': !epsItem.estadoAfiliacion }" 
                                (click)="MarkAsActive(epsItem)"
                                title="Marcar como activa"></i>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <!-- Guardar -->
            <div class="col-sm-12 text-right mt-4">
                <button class="btn btn-primary" type="submit">Guardar</button>
            </div>
        </form>
    </div>
</div>
<!-- Dialogo -->
<div class="dialog-overlay hide" (click)="HideDialog()"></div>
<div class="dialog-container hide" id="addEps">
    <div class="dialog-header">
        <h4>Buscar Eps</h4>
    </div>
    <div class="dialog-body">
        <form [formGroup]="searchEps" (ngSubmit)="SearchEps()">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <button type="submit" class="input-group-text">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                            <input type="text" placeholder="Nombre eps" formControlName="entidad" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-12" style="height: 400px; overflow: auto;">
                        <table class="table table-sm">
                            <tr>
                                <th>Entidad</th>
                                <th>Nit</th>
                                <th>Régimen</th>
                                <th></th>
                            </tr>
                            <tr *ngFor="let epsItem of epsFinded">
                                <td>{{epsItem.entidad}}</td>
                                <td>{{epsItem.nit}}</td>
                                <td>{{epsItem.regimenDescripcion}}</td>
                                <td>
                                    <button type="button" class="btn btn-primary fa fa-download"
                                        (click)="SelectEpsItem(epsItem)"></button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="dialog-footer text-right">
        <button type="button" class="btn btn-danger" (click)="HideDialog()">Cerrar</button>
    </div>
</div>